@using AgingPopulationFitness.Shared;
@using System.Text.Json;
@using System.Text.Json.Serialization;
@inject UserClient UserClient;
@inject HttpClient HttpClient;
@inject UserState UserState;
@inject ExerciseFilterState ExerciseFilterState
@inject ToastService toastService
@inject IJSRuntime JSRuntime

<div class="dialog-blocker" @onclick="OnCancel">
</div>
<div class="dialog-container" >
    <div class="dialog" >
        <div class="dialog-top-bar">
            <button class="cancel-button" @onclick="OnCancel">x</button>
        </div>
        <div class="dialog-title">
            <lable>New Injury</lable>
        </div>
        <div class="add-injury-instructions">
            Add a new injury to help find exercises that are ideal for you.
        </div>
        <div class="dialog-body">
            <div class="dialog-body-input">
                <label>Name:</label>
                <div>
                    <input @bind="userInjury.InjuryName" />
                </div>
            </div>
            <div class="dialog-body-input">
                <label>Description:</label>
                <div>
                    <textarea id="injury-description" rows="5" cols="45" @bind="userInjury.InjuryDescription" />
                </div>
            </div>
            <div class="dialog-body-input">
                <label>Severity:</label>
                <input type="range" min="1" max="10" step="1" class="input-range" @bind="userInjury.InjurySeverity" @bind:event="oninput"/>
                <label>@userInjury.InjurySeverity</label>
            </div>
            <div class="dialog-body-input">
                <label>Date:</label>
                <input type="date" @bind="userInjury.InjuryDate" />
            </div>
            <div class="dialog-body-input">
                @if (injuryLocations == null)
                {
                    <select class="custom-select" disabled>
                        <option>(loading...)</option>
                    </select>
                }
                else
                {
                    <select class="custom-select" id="SelectInjuryLocationInjuryDialog"  @onchange="InjuryLocationSelected">
                        <option value="-1" disabled selected>Add Injury Location(s)</option>
                        @for (var i = 0; i < injuryLocations.Count; i++)
                        {

                            <option value="@i">  @injuryLocations[i].BodyPart </option>
                        }
                    </select>
                }
            </div>

            <div class="injuries">
                @foreach (var injuryLocation in userInjury.InjuryLocations)
                {
                    <div class="injury">
                        @injuryLocation.BodyPart
                        <button type="button" class="delete-injury" @onclick="@(() => RemoveInjuryLocation(injuryLocation))">x</button>
                    </div>
                }
            </div>

        </div>
        <div class="add-injury">
            <div >
                <button class="add-button"  @onclick="PostUserInjury">Add Injury</button>
            </div>
            @if(successfullyAdded)
            {
                <div>
                    <text >SUCCESS</text>
                </div>
            }
        </div>
    </div>
</div>




@code {
    public List<InjuryLocation> injuryLocations;
    public InjuryLocation injuryLocation = new InjuryLocation();
    bool successfullyAdded = false;

    [Parameter] public UserInjury userInjury { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback OnConfirm { get; set; }
    public int i = 0;

    protected override async Task OnInitializedAsync()
    {
        injuryLocations = await UserClient.GetInjuries();

        /*
        UserClient.GetInjuriesString();

        List<InjuryLocation> responseInjuryLocations = new List<InjuryLocation>();
        responseInjuryLocations.Add(new InjuryLocation(1, "elbow"));
        responseInjuryLocations.Add(new InjuryLocation(2, "knee"));

        for (int i = 0; i < responseInjuryLocations.Count; i++)
            {
            Console.WriteLine(responseInjuryLocations[i].InjuryLocationId + responseInjuryLocations[i].BodyPart);

        }
        string jsonString = JsonSerializer.Serialize<List<InjuryLocation>>(responseInjuryLocations);
        Console.WriteLine("json String: " + jsonString);
    */
    }

    void InjuryLocationSelected(ChangeEventArgs e)
    {
        if (int.TryParse((string)e.Value, out var index) && index >= 0)
        {
            AddInjuryLocation(injuryLocations[index]);
        }
        SetSelectedInjuryLocation();
    }

    void AddInjuryLocation(InjuryLocation injuryLocation)
    {
        if (userInjury.InjuryLocations.Find(pt => pt.BodyPart == injuryLocation.BodyPart) == null)
        {
            userInjury.InjuryLocations.Add(new InjuryLocation( injuryLocation.InjuryLocationId, injuryLocation.BodyPart) );
        }
        injuryLocations.RemoveAll(pt => pt.BodyPart == injuryLocation.BodyPart);
        SetSelectedInjuryLocation();
    }

    void RemoveInjuryLocation(InjuryLocation injuryLocation)
    {
        userInjury.InjuryLocations.RemoveAll(pt => pt.BodyPart == injuryLocation.BodyPart);
        if (injuryLocations.Find(pt => pt.BodyPart == injuryLocation.BodyPart) == null)
        {
            injuryLocations.Add(new InjuryLocation(injuryLocation.InjuryLocationId, injuryLocation.BodyPart) );
        }
        SetSelectedInjuryLocation();
    }

    void PrintUserInjury()
    {
        userInjury.UserId = UserState.userProfile.UserId;
        userInjury.PrintUserInjury();
    }

    async void PostUserInjury()
    {
        userInjury.UserId = UserState.userProfile.UserId;
        successfullyAdded = await UserClient.PostUserInjury(userInjury);
        UserState.injuryLocations = await UserClient.GetUsersInjuryLocations(UserState.userProfile.UserId);
        ExerciseFilterState.ExerciseFilter.InjuryLocations = UserState.injuryLocations;
        await OnConfirm.InvokeAsync();
        StateHasChanged();

        if(successfullyAdded)
        {
            toastService.ShowToast(string.Format("Injury '{0}' added!", userInjury.InjuryName), ToastLevel.Success);
        }
        else
        {
            toastService.ShowToast(string.Format("Failed to add '{0}'", userInjury.InjuryName), ToastLevel.Error);
        }
    }

    public async void SetSelectedInjuryLocation()
    {
        
        try
        {
            await JSRuntime.InvokeVoidAsync("setInjuryLocationInjuryDialog", -1);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
        StateHasChanged();
    }

}
