@using AgingPopulationFitness.Shared;
@using System.Text.Json;
@using System.Text.Json.Serialization;
@inject UserClient UserClient;
@inject HttpClient HttpClient;
@inject ExerciseClient ExerciseClient;
@inject UserState UserState;
@inject ExerciseFilterState ExerciseFilterState;
@inject IJSRuntime JSRuntime


<div >
    <div >
        <div class="whole-filter">
            <div class="benefit-section">
                <label>Exercise Benefit:</label>
                <select class="benefit-select" id="SelectBenefitExerciseFilter" @onchange="ExerciseBenefitSelected">
                    <option value="-1" >Select Benefit</option>
                    @for (var i = 0; i < ExerciseBenefits.Count; i++)
                    {

                        <option value="@i">@ExerciseBenefits[i].BenefitId @ExerciseBenefits[i].BenefitName </option>
                    }
                </select>
            </div>
            <div class="benefits">
                @foreach (var benefit in ExerciseFilterState.ExerciseFilter.BenefitsList)
                {
                    <div class="benefit">
                        @benefit.BenefitName
                        <button type="button" class="x-btn" @onclick="@(() => RemoveExerciseBenefit(benefit))">x</button>
                    </div>
                }
            </div>
            <div class="type-selection">
                <label>Exercise Type:</label>
                <select class="type-select" id="SelectTypeExerciseFilter" @onchange="ExerciseTypeSelected">
                    <option value="-1" disabled select>Select Type</option>
                    @for (var i = 0; i < ExerciseTypes.Count; i++)
                    {

                            <option value="@i">@ExerciseTypes[i].Type @ExerciseTypes[i].ExerciseTypeId</option>
                    }
                </select>
            </div>
            <div class="types">
                @foreach (var exerciseType in ExerciseFilterState.ExerciseFilter.ExerciseTypesList)
                {
                    <div class="type">
                        @exerciseType.Type
                        <button class="x-btn" type="button"  @onclick="@(() => RemoveExerciseType(exerciseType))">x</button>
                    </div>
                }
            </div>
            <label>Filter based on my injuries:</label>
            <InputCheckbox class="checkbox" @bind-Value=ExerciseFilterState.ExerciseFilter.ExcludeBasedOnInjuries></InputCheckbox>
            <button @onclick="OnSearch">Search</button>
        </div>
    </div>
</div>


@code {

    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback OnSearch { get; set; }

    public List<Benefit> ExerciseBenefits = new List<Benefit>();
    public List<ExerciseType> ExerciseTypes = new List<ExerciseType>();

    protected override async Task OnInitializedAsync()
    {

        ExerciseBenefits = await ExerciseClient.GetGeneralBenefits();
        ExerciseTypes = await ExerciseClient.GetExerciseTypes();
        if (ExerciseFilterState.ExerciseFilter.BenefitsList.Count == 0)
        {
            ExerciseFilterState.ExerciseFilter.BenefitsList = await ExerciseClient.GetGeneralBenefits();
        }
        if (ExerciseFilterState.ExerciseFilter.ExerciseTypesList.Count == 0)
        {
            ExerciseFilterState.ExerciseFilter.ExerciseTypesList = await ExerciseClient.GetExerciseTypes();
        }
        await OnSearch.InvokeAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        await Task.Run(() => SetSelectedBenefit());
        await Task.Run(() => SetSelectedType());

    }

    void ExerciseTypeSelected(ChangeEventArgs e)
    {
        if (int.TryParse((string)e.Value, out var index) && index >= 0)
        {
            AddExerciseType(ExerciseTypes[index]);
        }
        SetSelectedType();
    }

    void AddExerciseType(ExerciseType exerciseType)
    {
        if (ExerciseFilterState.ExerciseFilter.ExerciseTypesList.Find(pt => pt.Type == exerciseType.Type) == null)
        {
            ExerciseFilterState.ExerciseFilter.ExerciseTypesList.Add(new ExerciseType(exerciseType.ExerciseTypeId, exerciseType.Type));
        }
    }

    void RemoveExerciseType(ExerciseType exerciseType)
    {
        ExerciseFilterState.ExerciseFilter.ExerciseTypesList.RemoveAll(pt => pt.Type == exerciseType.Type);
    }

    void ExerciseBenefitSelected(ChangeEventArgs e)
    {
        if (int.TryParse((string)e.Value, out var index) && index >= 0)
        {
            AddExerciseBenefit(ExerciseBenefits[index]);
        }
        SetSelectedBenefit();
    }

    void AddExerciseBenefit(Benefit exerciseBenefit)
    {
        if (ExerciseFilterState.ExerciseFilter.BenefitsList.Find(pt => pt.BenefitId == exerciseBenefit.BenefitId) == null)
        {
            ExerciseFilterState.ExerciseFilter.BenefitsList.Add(new Benefit(exerciseBenefit.BenefitId, exerciseBenefit.BenefitName));
        }
    }

    void RemoveExerciseBenefit(Benefit exerciseBenefit)
    {
        ExerciseFilterState.ExerciseFilter.BenefitsList.RemoveAll(pt => pt.BenefitId == exerciseBenefit.BenefitId);
    }
    /*
    void ExerciseBenefitSelected(ChangeEventArgs e)
    {
        if (int.TryParse((string)e.Value, out var index) && index >= -1)
        {
            if (index == -1)
            {
                ExerciseFilterState.ExerciseFilter.benefit.BenefitId = -1;
                ExerciseFilterState.ExerciseFilter.benefit.BenefitName = "All";
            }
            else
            {
                ExerciseFilterState.ExerciseFilter.benefit.BenefitId = ExerciseBenefits[index].BenefitId;
                ExerciseFilterState.ExerciseFilter.benefit.BenefitName = ExerciseBenefits[index].BenefitName;
            }
            ExerciseFilterState.benefitSelectValue = (string)e.Value;
        }
    }
    */
    /*
    void ExerciseTypeSelected(ChangeEventArgs e)
    {
        if (int.TryParse((string)e.Value, out var index) && index >= -1)
        {
            if (index == -1)
            {
                ExerciseFilterState.ExerciseFilter.exerciseType.ExerciseTypeId = -1;
                ExerciseFilterState.ExerciseFilter.exerciseType.Type = "All";
            }
            else
            {
                ExerciseFilterState.ExerciseFilter.exerciseType.ExerciseTypeId = ExerciseTypes[index].ExerciseTypeId;
                ExerciseFilterState.ExerciseFilter.exerciseType.Type = ExerciseTypes[index].Type;
            }
            ExerciseFilterState.typeSelectValue = (string)e.Value;
        }
    }
    */
    public async void SetSelectedBenefit()
    {
        string value = ExerciseFilterState.benefitSelectValue;
        try{
            await JSRuntime.InvokeVoidAsync("setBenefitSelectExerciseFilter", -1);
        }
        catch( Exception e)
        {

        }
        StateHasChanged();
    }

    public async void SetSelectedType()
    {
        string value = ExerciseFilterState.typeSelectValue;
        try{
            await JSRuntime.InvokeVoidAsync("setTypeSelectExerciseFilter", -1);
        }
        catch( Exception e)
        {

        }
        StateHasChanged();
    }

    

}
