@page "/injuries-page/{injuryId:int}"
@using AgingPopulationFitness.Shared;
@using System.Text.Json;
@using System.Text.Json.Serialization;
@inject UserClient UserClient;
@inject HttpClient HttpClient;
@inject UserState UserState;
@inject NavigationManager NavigationManager



<form class="dialog-body">
    <h3>@userInjury.InjuryName</h3>
    <div class="user-injury-form-field">
        <label>Name:</label>
        <div>
            <input type="text" @bind="userInjury.InjuryName" />
        </div>
    </div>
    <div class="user-injury-form-field">
        <label>Description:</label>
        <div class="injury-description-div">
            <textarea id="injury-description" rows="4" cols="15" @bind="userInjury.InjuryDescription" />
        </div>
    </div>
    <div class="user-injury-form-field">
        <label>Severity:</label>
        <input type="range" min="1" max="10" step="1" @bind="userInjury.InjurySeverity" @bind:event="oninput" />
        <label>@userInjury.InjurySeverity</label>
    </div>
    <div class="user-injury-form-field">
        <label>Date:</label>
        <input type="date" @bind="userInjury.InjuryDate" />
    </div>
    <div class="user-injury-form-field">
        <label>Add Injuries:</label>
        @if (injuryLocations == null)
        {
            <select class="custom-select" disabled>
                <option>(loading...)</option>
            </select>
        }
        else
        {
            <select class="custom-select" @onchange="InjuryLocationSelected">
                <option value="-1" disabled selected>(select)</option>
                @for (var i = 0; i < injuryLocations.Count; i++)
                {

                    <option value="@i">@i @injuryLocations[i].InjuryLocationId @injuryLocations[i].BodyPart </option>
                }
            </select>
        }
    </div>

    <div class="injuries">
        @foreach (var injuryLocation in userInjury.InjuryLocations)
        {
            <div class="injury">
                @injuryLocation.BodyPart
                <button type="button" class="delete-injury" @onclick="@(() => RemoveInjuryLocation(injuryLocation))">x</button>
            </div>
        }
    </div>
    <div class="update-delete-injury">
        <button>Update Injury</button>
        <button  @onclick="DeleteUserInjury">Delete Injury</button>s
    </div>

</form>

@code {
    [Parameter] public int injuryId { get; set; }

    public UserInjury userInjury = new UserInjury();
    public List<InjuryLocation> injuryLocations = new List<InjuryLocation>();
    public InjuryLocation injuryLocation = new InjuryLocation();

    bool successfullyDeleted = false;

    protected override async Task OnInitializedAsync()
    {
        injuryLocations = await UserClient.GetInjuries();

        for( int i = 0; i < UserState.userInjuries.Count; i++)
        {
            //UserState.userInjuries[i].PrintUserInjury();
            if( UserState.userInjuries[i].InjuryId == injuryId)
            {
                //userInjury = UserState.userInjuries[i];

            }
        }
        for( int i = 0; i < UserState.userInjuries.Count; i++)
        {
            if( UserState.userInjuries[i].InjuryId == injuryId)
            {
                userInjury = UserState.userInjuries[i];
            }
        }
        

    }

    void InjuryLocationSelected(ChangeEventArgs e)
    {
        if (int.TryParse((string)e.Value, out var index) && index >= 0)
        {
            AddInjuryLocation(injuryLocations[index]);
        }
    }

    void AddInjuryLocation(InjuryLocation injuryLocation)
    {
        if (userInjury.InjuryLocations.Find(pt => pt.BodyPart == injuryLocation.BodyPart) == null)
        {
            userInjury.InjuryLocations.Add(new InjuryLocation(injuryLocation.InjuryLocationId, injuryLocation.BodyPart));
        }
    }

    void RemoveInjuryLocation(InjuryLocation injuryLocation)
    {
        userInjury.InjuryLocations.RemoveAll(pt => pt.BodyPart == injuryLocation.BodyPart);
    }

    async void DeleteUserInjury()
    {
        //userInjury.PrintUserInjury();
        /*
        successfullyDeleted = await UserClient.PostUserInjury(userInjury);
        if (successfullyDeleted)
        {
            NavigationManager.NavigateTo("/injuries");
        }
        */
    }
}
